#parent{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    flex-direction: column;
    gap: 10%;
}
#child{
    flex-direction: column;
    background-color: white;
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 3%;
}
#heading1{
    color: saddlebrown;

}
#heading2{
    color:tomato;

}